<!-- {% extends 'base.html' %}

{% block content %}
    <h2>User: {{ question.user.username }}</h2>
    <h3>Question Title: {{ question.title }}</h3>
    <p>Book Title: {{ question.book.title }}</p>
    <p>Question: {{ question.content }}</p>


    <form method="post" id="comment-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="content">Comment:</label>
            <textarea class="form-control" id="content" name="content" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form>

    <h3>Comments:</h3>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.user.username }}: {{ comment.content }}</li>
        {% endfor %}
    </ul> -->
<!-- {% endblock %} -->
