{% extends 'base.html' %}

{% block content %}
<h1>Keranjang</h1>

<table>
    <thead>
        <tr>
            <th>Book</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for book_cart in book_carts %}
            <tr>
                <td>{{ book_cart.book.title }}</td>
                <td>{{ book_cart.amount }}</td>
                <td>IDR {{ book_cart.book.price }}</td>
                <td>IDR {{ subtotal }}</td>
                <td><a href="{% url 'cartbook:remove_from_cart' book_cart.id %}">Remove</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>Total Amount: {{ total_amount }}</p>
<p>Total Harga: IDR {{ total_harga }}</p>

<a href="{% url 'main:show_catalog' %}">Lanjutkan Belanja</a>

{% endblock %}
