<nav>
    <div class="logo-container">
        <img src="https://user-images.githubusercontent.com/122893320/277785554-9500d430-d120-41e2-be26-3c7602b062fb.png" alt="GeTheBooks Logo">
        <a class="logo" href="/">GeTheBooks</a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li{% if is_catalog_active %} class="active"{% endif %}><a href="{% url 'main:show_catalog' %}">Katalog</a></li>
        <li><a href="#">QnA Forum</a></li>
        <li>
            <a href="#">
                <svg width="35" height="35" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 5H24L22 12H10.3767M24 16H10L8 3H5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
                    <circle cx="10.5" cy="23.5" r="2.5" stroke="#000000" stroke-width="2" fill="none"/>
                    <circle cx="21.5" cy="23.5" r="2.5" stroke="#000000" stroke-width="2" fill="none"/>
                </svg>          
            </a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="#" style="margin-right: 10px;">(ACCOUNT)</a>
            <a href="{% url 'main:logout' %}">
                <button>
                    Logout
                </button>
            </a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'main:login' %}">
                <button>
                    Login
                </button>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
