{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        .container {
            margin: 0 auto;
            padding: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .book-card {
            background-color: #f2f2f2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: 50px;
            box-shadow: 2px 7px 25px rgba(0, 0, 0, 0.1);
            width: 300px;
            transition: transform 0.3s ease; 
        }

        .book-card:hover {
            transform: scale(1.05); 
        }

        .book-details {
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: large;
        }

        .book-image {
            max-width: 500px;
            background-color: transparent;
        }

        .book-image img {
            border-radius: 50px 50px 0 0;
            height: 400px;
            object-fit: cover;
        }

        .rectangle {
            margin: auto;
            width: 100%; 
            height: 51px;
            top: 0;
            left: 0;
            background-color: #ffdc00;
            border-radius: 30px; 
            position: relative;
            font-size: large;
            font-weight: bold;
        }

        .rectangle-label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50px;
        }

        .quantity-icons {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-right: 100px;
        }

        .product-action {
            width: 120px;
            text-align: center;
        }

        .custom-button-remove {
            background-color: red; /* Background warna merah */
            border: none;
            border-radius: 20px; /* Membuatnya bulat */
            padding: 8px 18px;
            color: white;
            font-weight: bold;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s;
            margin-bottom: 15px;
        }

        .custom-button-remove:hover {
            background-color: darkred; /* Warna saat kursor berada di atas tombol */
        }
    </style>
</head>
<body style="background-color:#FAF2D3;">

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addModalLabel">Tambahkan Saldo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Jumlah:</label>
                            <input type="number" class="form-control" id="jumlah" name="jumlah"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Tambahkan</button>
                </div>
            </div>
        </div>
    </div>

    <div class = "main-container">
        <h2>
            Hi, {{ profile.user }} !
            <br>
            <span id = "userSaldo">Balance: {{ profile.saldo }}</span>
            <a href="" data-bs-toggle="modal" data-bs-target="#addModal">
                <button class="btn btn-primary">
                    Top Up
                </button>
            </a>
            <br>
            <br>
            <div class = "container">
                <div class="rectangle">
                    <p class="rectangle-label">Your Products</p>
                </div>
                <table>
                    {% for book in books %}
                    <div class="book-card">
                        <div class="book-details">
        
                            <div class="book-image">
                                <img src="{{ book.image }}" alt="{{ book.title }}" width="300">
                            </div>
                        
                            <p>{{ book.title }}</p>
                            <p>IDR {{ book.price }}</p>
                            <div class="cart-quantity">
                                <div class="quantity-icons">
                                    <button title="Kurangi" class="custom-button tambah-kurang" data-book-id="{{ book.id }}" data-action="kurang">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <p class="book-stocks" id="book-stocks-{{ book.id }}">{{ book.stocks }}</p>
                                    <button title="Tambah" class="custom-button tambah-kurang" data-book-id="{{ book.id }}" data-action="tambah">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="warning" style="font-weight: bold;">
                                <p>{{ book.author }}</p>
                            </div>
                            <div class="d-flex">
                                <a href="{% url 'uploadbook:edit_book' book.id  %}" class="mr-2">
                                    <button class="btn btn-primary">
                                        ✎
                                    </button>
                                </a>
                                <div class="product-action">
                                    <button class="custom-button-remove" data-product-id="{{ book.id }}">🗑️</button>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    {% endfor %}
                </table>
                <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <button class="btn btn-primary">
                    Add Product AJAX
                    </button>
                </a>
                <a href="{% url 'uploadbook:add_book' %}">
                    <button class="btn btn-primary">
                    Add Product
                    </button>
                </a>
                <a href="">
                    <button class="btn btn-primary">
                    History
                    </button>
                </a>
            </div>
        </h2>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tambahkan Penjualan Buku</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="bookform" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="isbn" class="col-form-label">ISBN:</label>
                            <input type="text" class="form-control" id="isbn" name="isbn"></input>
                        </div>
                        <div class="mb-3">
                            <label for="title" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title" name="title"></input>
                        </div>
                        <div class="mb-3">
                            <label for="author" class="col-form-label">Author:</label>
                            <input type="text" class="form-control" id="author" name="author"></input>
                        </div>
                        <div class="mb-3">
                            <label for="year" class="col-form-label">Year:</label>
                            <input type="number" class="form-control" id="year" name="year"></input>
                        </div>
                        <div class="mb-3">
                            <label for="publisher" class="col-form-label">Publisher:</label>
                            <input type="text" class="form-control" id="publisher" name="publisher"></input>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="col-form-label">Image Link:</label>
                            <input type="text" class="form-control" id="image" name="image"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="stocks" class="col-form-label">Stocks:</label>
                            <input type="number" class="form-control" id="stocks" name="stocks"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="jual_buku" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script> 
        async function getProducts() {
            return fetch("{% url 'main:get_saldo' %}",{method:'GET'}).then((res) => res.json())
        }
        async function refreshSaldo() {
            console.log("Refreshing saldo...");
            const profile = await getProducts()
            let htmlString = `Balance: ${profile[0].fields.saldo}`

            document.getElementById("userSaldo").innerHTML = htmlString
        }
        refreshSaldo()

        function addProduct() {
            fetch("{% url 'main:insert_balance' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(() => {
                refreshSaldo();
                document.getElementById("form").reset();
            });

            return false;
        }
        document.getElementById("button_add").onclick = addProduct

        async function getBooks() {
                return fetch("{% url 'uploadbook:get_books' %}",{method:'GET'}).then((res) => res.json())
        }
                
        async function refreshBooks() {
            document.getElementById("product_table").innerHTML = "";
            const books = await getBooks();
                
            const container = document.createElement("div");
            container.className = "container";
                
            books.forEach((book) => {
                const bookCard = document.createElement("div");
                bookCard.className = "book-card";
            
                const bookDetails = document.createElement("div");
                bookDetails.className = "book-details";
            
                const bookImage = document.createElement("div");
                bookImage.className = "book-image";
            
                const image = document.createElement("img");
                image.src = book.fields.image;
                image.alt = book.fields.title;
                image.width = 300;
            
                bookImage.appendChild(image);
            
                const title = document.createElement("p");
                title.textContent = book.fields.title;
            
                const price = document.createElement("p");
                price.textContent = `IDR ${book.fields.price}`;
            
                const stocks = document.createElement("p");
                stocks.textContent = `Stock: ${book.fields.stocks}`;
            
                const authorDiv = document.createElement("div");
                authorDiv.className = "warning";
                authorDiv.style.fontWeight = "bold";
            
                const author = document.createElement("p");
                author.textContent = book.fields.author;
            
                authorDiv.appendChild(author);
            
                bookDetails.appendChild(bookImage);
                bookDetails.appendChild(title);
                bookDetails.appendChild(price);
                bookDetails.appendChild(stocks);
                bookDetails.appendChild(authorDiv);
            
            bookCard.appendChild(bookDetails);
            container.appendChild(bookCard);
        });
    
        document.getElementById("product_table").appendChild(container);
    }

        function addBook() {
            fetch("{% url 'uploadbook:add_book_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#bookform'))
            })
            .then(refreshBooks)

            document.getElementById("bookform").reset()
            return false
        }

        document.getElementById("jual_buku").onclick = addBook

        refreshBooks()

        $(document).ready(function () {
            $(".custom-button-remove").click(function () {
                var bookId = $(this).data("product-id");
    
                $.ajax({
                    url: '/account/uploadbook/delete-book/' + bookId + '/',
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (response) {
                        if (response.success) {
                            // Update the cart item's view (e.g., remove the item from the DOM)
                            $('#product-' + bookId).remove();
                        }
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });

            $(".tambah-kurang").click(function () {
                var bookId = $(this).data("book-id");
                var action = $(this).data("action");
                
                $.ajax({
                    url: '/account/uploadbook/' + action + '-stocks/' + bookId + '/',
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (response) {
                        if (response.success) {
                            // Update the amount, subtotal and total price in the view
                            $('#book-stocks-' + bookId).html(response.stocks);
                            // Remove the item from the cart if it was deleted
                            if (response.deleted) {
                                $('#book-' + Id).remove();
                            }
                        }
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
</script>
{% endblock content %}